{% extends "layout.html" %}

{% block title %}About - PhillHaye.es  {% endblock %}

{% block content %}

    <h1>About</h1>
    <hr>
    <h3 class="title-grey">Current</h3>

    <p>
        I am currently co-founder of <a href="https://kloodle.com" target="_blank">Kloodle</a>. We feel that education is a process and not a procession towards end results. We believe that skills are developed on a <strong>daily basis</strong> and the journey of skill development should be <strong>recorded and celebrated</strong>. Kloodle is a platform that enables students to <strong>record this process</strong> and develop their employability skills. We also enable employers to <strong>connect with</strong> and engage students, increasing awareness about the range of careers available. 

    </p>
    <h3 class="title-grey">Interests</h3>
    <p>
        I am current first team captain at <a href"http://haslingdencricketclub.co.uk">Haslingden Cricket club</a>. I've been <a href="http://lancashireleague.com/Players/105/105729/105729.html">playing cricket</a> all my life. 
    </p>
    <p>
        I love to read. Books I've read will appear in note form <a href="/categories/1">here</a>.
    </p>
    <p>
        I once wrote a book on studying. I plan to write another eventually, but you can see my first attempt <a href="https://www.amazon.co.uk/How-Study-University-Phillip-Hayes-ebook/dp/B00C7PO2EQ/ref=sr_1_2?ie=UTF8&qid=1493733637&sr=8-2&keywords=how+to+study+at+university">here.</a>
    </p>


{% endblock %}