{% extends "layout.html" %}

{% block title %}Home - PhillHaye.es  {% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to my blog!</h1>
        <p>
            I've had the domain name https://phillhay.es for a while. When I was at university, I taught myself how to build a site using WordPress. This was liberating, but I think you can get lazy.

        </p>
        <p>
            With that in mind, I have started to code my blog in Python using the Django framework. For <a href = "https://kloodle.com">Kloodle</a>, we use Laravel. I've got pretty good at that. I can make things work. I want to use Python, as one day I think I'll use it for some kind of chemistry project. I don't know what yet, but I will.
        </p>
        <p>
            You'll see my site progress as I build along. I am using: -
        </p>
        <ul>
            <li>
                <a href="https://teamtreehouse.com">Treehouse</a> for the tutorials
            </li>
            <li>
                <a href="">Brackets</a> as my text editor.
            </li>
            <li>
                My trusty MacBook Pro. A few years old now but still kicking.
            </li>
            <li>
                Heroku for deploying my app
            </li>
        </ul>
    </div>
</div>
{% endblock %}