{% extends "layout.html" %}

{% block title %}Home - PhillHaye.es  {% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Welcome to Phill Hayes's blog!</h1>
        <p>
            I am co-founder of <a href="https://kloodle.com">Kloodle</a>. Check us out!

        </p>
        <p>
            This site will contain posts about the <a href="/categories/1">books I am reading</a>, my latest fitness interests, cricket, and any other general interests. 
        </p>
        <h3>This site</h3>
        <hr>
        <p>
            I want to learn how to code using Python and Django.
        </p>
        <p>
            With that in mind, I have started to code my blog in Python using the Django framework. For <a href = "https://kloodle.com">Kloodle</a>, we use Laravel. I've got pretty good at that. I can make things work. I want to use Python, as one day I think I'll use it for some kind of chemistry project. I don't know what yet, but I will.
        </p>
        <p>
            You'll see my site progress as I build along. I am using: -
        </p>
        <ul>
            <li>
                <a href="https://teamtreehouse.com">Treehouse</a> for the tutorials
            </li>
            <li>
                <a href="http://brackets.io/">Brackets</a> as my text editor.
            </li>
            <li>
                My trusty MacBook Pro. A few years old now but still kicking <em>UPDATE: </em>Packed up last month. Just had it repaired.
            </li>
            <li>
                Heroku for deploying my app
            </li>
        </ul>
        <p>You can find out more about me <a href="/about">here</a>!
    </div>

{% endblock %}