{% extends "layout.html" %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
<article>
    <h2>{{ category.title }}</h2>
    
    <section>
        <ul class="list-group">
            {% for blog in category.blogpost_set.all %}
                <li class="list-group-item">
                    <a href="/blog/{{ blog.id }}"><h3>{{ blog.title }}</h3></a>
                    {{ blog.body|truncatewords:10 }}
                </li>
                
              
            {% endfor %}
        </ul>
    </section>
</article>

{% endblock %}