{% extends "layout.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<article>
    <h1>{{ category.name }}</h1>
    <hr>
    
    <section>
        <ul class="list-group">
            {% for blog in category.blogpost_set.all %}
                <li class="list-group-item">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" src="{{ blog.image }}" alt="..." width="80px">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="/blog/{{ blog.id }}">{{ blog.title }}</h4></a>
                        {{ blog.body|truncatewords:10 }}
                      </div>
                    </div>
                   
                    
                    
                </li>
                
              
            {% endfor %}
        </ul>
    </section>
</article>

{% endblock %}